html {
  color: #1D1D1D;
  font-family: 'Space Mono', monospace;
}

body {
  margin: 0;
}

.left {
  background-color: #1E1D32;
  color: white;
}

.link {
  color: #85BAA1;
  text-decoration: none;
}

.link:hover {
  opacity: .7;
}

.name {
  font-size: 42px;
}

.contacts {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.icon {
  padding-right: 25px;
}

.icon.linkedin {
  padding-right: 20px;
}

.icon img:hover {
  opacity: .7;
}

.top_image_container {
  height: 25vh;
  width: 100%;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.section_title {
  margin-top: 0;
}

.work {
  background-color: #f6e8e5;
}

.job {
  line-height: 1;
  padding-bottom: 1px;
}

.date {
  float: right;
  font-size: .8em;
  font-weight: lighter;
}


@media (min-width: 900px) {
  .left {
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 40%;
  }

  .blurb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 75px 85px 50px;
  }

  .right {
    height: 100%;
    margin-left: 40%;
    width: 60%;
  }

  .section {
    padding: 64px;
  }
}

@media (max-width: 900px) {
  .left {
    width: 100%;
  }

  .blurb {
    padding: 50px;
  }

  .right {
    width: 100%;
  }

  .section {
    padding: 50px;
  }
}

@media (max-width: 480px) {
  .job {
    padding-bottom: 30px;
  }

  .job.last {
    padding-bottom: 0;
  }

  .job_header {
    margin: 0;
    padding-bottom: 4px;
  }

  .job_title {
    margin: 0;
  }

  .company {
    display: block;
    padding-bottom: 5px
  }

  .date {
    display: block;
    float: none;
    font-style: italic;
  }
}