header {
  background: white;
  position: fixed;
  width: 100%;
}

header h2 {
  line-height: .8;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

header ul li {
  display: inline-block;
  padding: 0 20px 0 20px;
}

header ul li a {
  color: rgb(29, 29, 29);
  text-decoration: none;
}

header ul li a:hover {
  color: rgb(153, 153, 153);
}